
.icon-tag:before { content: '\e800'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
