* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
body{
    
}
#swiper {
    position: relative;
    margin: 100px;
    overflow: hidden;
}
#swiper_box {
    position: relative;
    overflow: hidden;
    width: 1250px;
}

#swiper_box ul{
    width: 100%;
    height: 100%;
    display: flex;
    transform: translate(-1250px, 0);

}
#swiper_box .page{
    flex: 0 0 100%;
    
}
.page img {
    display: block;
    width: 1250PX;
    height: 800px;
    object-fit: cover;
    
}


.button .prevBtn, .button .nextBtn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 50px 50px;
    cursor: pointer;
} 
.button .prevBtn {
    left: 10px;
}
.button .nextBtn {
    right: 10px;
}


.button .prevBtn::after, 
.button .nextBtn::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 30%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.button .prevBtn::after {
    top: 17px;
    left: 20px;
    transform: rotate(225deg);
}

.button .nextBtn::after {
    top: 16px;
    left: 13px;
    transform: rotate(45deg);
} 