<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1, a{border: 1px solid black;}
        h1 {display: block;}
        /* a {display: block;} */
        a {display: none;}
        a {display: inline-block;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    <h1>Hello World</h1>
    안녕하세요? <a href="https://opentutorials.org/course/2418/13403">생활코딩</a> 입니다.
</body>
</html>