<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            border: 1px solid green;
        }
        div{
            border:5px solid black;
            margin: 10px;
        }
        #me{
            /* 기본값 : static */
            position: relative;
            /* left > right, tob > bottom 이렇 먼저 적용 */
            left: 100px;
            /* right: 100px; */
            top: 100px;
        }
    </style>
</head>
<body>
    <div id="other">other</div>
    <div id="parent">
        parent
        <div id="me">me</div>
    </div>
</body>
</html>